<!-- Concatenated jQuery and plugins -->
<script src="/assets/js/app.js"></script>

<!-- OM js -->
<script src="/assets/js/components/components-modals.js"></script>
<script src="/assets/js/components/components-inputs.js"></script>
<script src="/assets/js/components/components-accordion.js"></script>
<script src="/assets/js/components/components-toasts.js"></script>
<script src="/assets/js/components/components-range.js"></script>
<script src="/assets/js/components/components-fileinput.js"></script>
<script src="/assets/js/components/components-uploader.js"></script>

<script src="/assets/js/extensions/bulma-iconpicker.js"></script>

<script src="/assets/js/components/main.js"></script>
<script src="/assets/js/components/demo.js"></script>