<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title> Dashkit :: {{title}}</title>

        <!--Core CSS -->
        <link rel="stylesheet" href="{{root}}assets/css/bulma.css">
        <link rel="stylesheet" href="/assets/css/bulma.css">
        <link rel="stylesheet" href="/assets/css/app.css">
        <link rel="stylesheet" href="/assets/css/dashboard.css">
        <link rel="stylesheet" href="/assets/css/icons.min.css">

    </head>
    <body>
        {{> dashboard-pageloader}}
        {{> body}}
        {{> dashboard-scripts}}
        <script src="assets/js/dashboard/auth.js"></script>
    </body>  
</html>
