<div class="navbar-item has-dropdown is-hoverable is-mega">
    <div class="navbar-link">
        Components
    </div>
    <div class="navbar-dropdown is-megamenu" data-style="width: 18rem;">
        <div class="mega-inner">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <h1 class="title is-6 is-mega-menu-title">Layout & Navbars</h1>
                        <a class="navbar-item is-flex" href="/components/_components-layout-grid.html">
                            <i class="im im-icon-Sidebar-Window"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Grid system</small>
                                </p>
                                <p>Layout</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-layout-video.html">
                            <i class="im im-icon-Video"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Video background</small>
                                </p>
                                <p>Layout</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-layout-parallax.html">
                            <i class="im im-icon-Windows-2"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Parallax</small>
                                </p>
                                <p>Layout</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-layout-headers.html">
                            <i class="im im-icon-Windows-2"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Headers</small>
                                </p>
                                <p>Layout</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-layout-footers.html">
                            <i class="im im-icon-Windows-2"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Footers</small>
                                </p>
                                <p>Layout</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-layout-typography.html">
                            <i class="im im-icon-Windows-2"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Typography</small>
                                </p>
                                <p>Layout</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-layout-colors.html">
                            <i class="im im-icon-Windows-2"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Colors</small>
                                </p>
                                <p>Layout</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-layout-navbar-fade-light.html">
                            <i class="im im-icon-Lock-Window"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Fade Light</small>
                                </p>
                                <p>Navbar</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-layout-fade-dark.html">
                            <i class="im im-icon-Lock-Window"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Fade dark</small>
                                </p>
                                <p>Navbar</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-layout-static-light.html">
                            <i class="im im-icon-Lock-Window"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Static light</small>
                                </p>
                                <p>Navbar</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-layout-static-solid.html">
                            <i class="im im-icon-Lock-Window"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Static solid</small>
                                </p>
                                <p>Navbar</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-layout-double-light.html">
                            <i class="im im-icon-Lock-Window"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Double light</small>
                                </p>
                                <p>Navbar</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-layout-double-dark.html">
                            <i class="im im-icon-Lock-Window"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Double dark</small>
                                </p>
                                <p>Navbar</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-layout-static-light.html">
                            <i class="im im-icon-Lock-Window"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Static light</small>
                                </p>
                                <p>Navbar</p>
                            </div>
                        </a>
                    </div>
                    <div class="column">
                        <h1 class="title is-6 is-mega-menu-title">UI Components</h1>
                        <a class="navbar-item is-flex" href="/components/_components-basicui-cards.html">
                            <i class="im im-icon-Bar-Chart"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Cards</small>
                                </p>
                                <p>Basic UI</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-basicui-buttons.html">
                            <i class="im im-icon-Bar-Chart"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Buttons</small>
                                </p>
                                <p>Basic UI</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-basicui-dropdowns.html">
                            <i class="im im-icon-Bar-Chart"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Dropdowns</small>
                                </p>
                                <p>Basic UI</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-basicui-lists.html">
                            <i class="im im-icon-Bar-Chart"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Lists</small>
                                </p>
                                <p>Basic UI</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-basicui-modals.html">
                            <i class="im im-icon-Bar-Chart"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Modals</small>
                                </p>
                                <p>Basic UI</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-basicui-tabs.html">
                            <i class="im im-icon-Bar-Chart"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Tabs & pills</small>
                                </p>
                                <p>Basic UI</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-basicui-accordions.html">
                            <i class="im im-icon-Bar-Chart"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Accordions</small>
                                </p>
                                <p>Basic UI</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-basicui-badges.html">
                            <i class="im im-icon-Bar-Chart"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Badges & labels</small>
                                </p>
                                <p>Basic UI</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-basicui-popups.html">
                            <i class="im im-icon-Bar-Chart"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Popups</small>
                                </p>
                                <p>Basic UI</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-advancedui-tables.html">
                            <i class="im im-icon-Split-FourSquareWindow"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Tables</small>
                                </p>
                                <p>Advanced UI</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-advancedui-timeline.html">
                            <i class="im im-icon-Split-FourSquareWindow"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Timeline</small>
                                </p>
                                <p>Advanced UI</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-advancedui-calendar.html">
                            <i class="im im-icon-Calendar-4"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Calendar</small>
                                </p>
                                <p>Advanced UI</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-advancedui-boxes.html">
                            <i class="im im-icon-Split-FourSquareWindow"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Boxes</small>
                                </p>
                                <p>Advanced UI</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-advancedui-messages.html">
                            <i class="im im-icon-Speach-Bubble3"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">messages</small>
                                </p>
                                <p>Advanced UI</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-advancedui-megamenu.html">
                            <i class="im im-icon-Split-FourSquareWindow"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Megamenu</small>
                                </p>
                                <p>Advanced UI</p>
                            </div>
                        </a>

                    </div>
                    <div class="column">
                        <h1 class="title is-6 is-mega-menu-title">Forms</h1>
                        <a class="navbar-item is-flex" href="/components/_components-forms-inputs.html">
                            <i class="im im-icon-Folder-Archive"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Inputs</small>
                                </p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-forms-controls.html">
                            <i class="im im-icon-Folder-Archive"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Controls</small>
                                </p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-forms-layouts.html">
                            <i class="im im-icon-Folder-Archive"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Form layouts</small>
                                </p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-forms-steps.html">
                            <i class="im im-icon-Folder-Archive"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Step forms</small>
                                </p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-forms-uploader.html">
                            <i class="im im-icon-Folder-Archive"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Uploader</small>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="column">
                        <h1 class="title is-6 is-mega-menu-title">Sections</h1>
                        <a class="navbar-item is-flex" href="/components/_components-sections-features.html">
                            <i class="im im-icon-Split-FourSquareWindow"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Features</small>
                                </p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-sections-pricing.html">
                            <i class="im im-icon-Split-FourSquareWindow"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Pricing</small>
                                </p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-sections-team.html">
                            <i class="im im-icon-Split-FourSquareWindow"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Team</small>
                                </p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-sections-testimonials.html">
                            <i class="im im-icon-Split-FourSquareWindow"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Testimonials</small>
                                </p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-sections-clients.html">
                            <i class="im im-icon-Split-FourSquareWindow"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Clients</small>
                                </p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-sections-counters.html">
                            <i class="im im-icon-Split-FourSquareWindow"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Counters</small>
                                </p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-sections-carousel.html">
                            <i class="im im-icon-Split-FourSquareWindow"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Carousel</small>
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="column">
                        <h1 class="title is-6 is-mega-menu-title">Icons</h1>
                        <a class="navbar-item is-flex" href="/components/_components-icons-im.html">
                            <i class="im im-icon-Folder-Archive"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Icons Mind</small>
                                </p>
                                <p>Icons</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-icons-sl.html">
                            <i class="im im-icon-Folder-Archive"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Simple Line Icons</small>
                                </p>
                                <p>Icons</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-icons-fa.html">
                            <i class="im im-icon-Folder-Archive"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Font Awesome</small>
                                </p>
                                <p>Icons</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="https://material.io/icons/" >
                            <i class="im im-icon-Folder-Archive"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Material Icons</small>
                                </p>
                                <p>Icons</p>
                            </div>
                        </a>
                        <a class="navbar-item is-flex" href="/components/_components-extensions-iconpicker.html">
                            <i class="im im-icon-Folder-Archive"></i>
                            <div class="navbar-content">
                                <p>
                                    <small class="color-secondary">Icon Picker</small>
                                </p>
                                <p>Picker</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <hr class="navbar-divider">
            <div class="navbar-item is-footer is-hidden-mobile">
                <div class="navbar-content">
                    <div class="level is-mobile">
                        <div class="level-left">
                            <div class="level-item">
                                <strong>Follow us</strong>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <a class="social-link" href="/components/_components-"><i class="fa fa-twitter"></i></a>
                                <a class="social-link" href="/components/_components-"><i class="fa fa-facebook"></i></a>
                                <a class="social-link" href="/components/_components-"><i class="fa fa-behance"></i></a>
                                <a class="social-link" href="/components/_components-"><i class="fa fa-github"></i></a>
                                <a class="social-link" href="/components/_components-"><i class="fa fa-tumblr"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="menu-image is-hidden-mobile">
                <img src="/assets/images/bg/shapes/megamenu.svg">
            </div>
        </div>
    </div>
</div>